<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Principal</title>
    <link rel="stylesheet" href="styles.css">
    
</head>

<body>
    <header>
        <nav>
            <a class="Logo" href="/">Loja de Roupa</a>
            <ul class="nav-list">
                <li><a href="/">Início</a></li>
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Projetos</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <h1>Loja</h1>

    <h2>Produtos da Loja</h2>
    <hr>
    
    <a href="http://127.0.0.1:5501/Pagina_do_site/masculino/home_masculina.html">Roupas masculinas</a>

    
    <a href="http://127.0.0.1:5501/Pagina_do_site/feminino/home_feminino.html">Roupas femininas</a>

</body>

</html>